#searchfooter {
    width: 95%;
}

.form-control {
    border: none;
}

#loginbutton {
    margin-left: 20%;
}

.display-4 {
    padding: 10px;
}

.lead {
    padding: 7px 10px;
}

#inspire-message {
    padding: 7px;
    text-align: center;
}

/* map_css */
.bi-exclamation-triangle-fill :hover {
    fill: #6115a9;
}
.bi-house-door-fill{
    fill: #0c6635;
}
.bi-house-door-fill :hover {
    fill: #2e5adf;
}

.bi-geo-alt-fill :hover {
    fill: #2e5adf;
}

.addBtn {
    transition: transform .2s;
}

.addBtn :hover {
    transform: scale(1.4);
}
/* end_map_css */