.modal-header {
    justify-content: center;
}

.title-centered {
    width: 70%;
    justify-content: center;
    text-align: center;
}

.submissionbtn {
    padding-left: 35px;
    padding-right: 35px;
}

.modal-footer {
    justify-content: space-between;
}

.center-modal {
    margin-top: 0px;
}

.modal-dialog {
    max-width: 550px;
}
