.harzard-buttons {
    display: flex;
    justify-content: center;
    gap: 10px
}

.popupbtn {
    width: 500px;
    height: 125px;
}

.title-centered {
    width: 50%;
    justify-content: center;
    margin-left: 28%;
}

.submissionbtn {
    padding-left: 75px;
    padding-right: 75px;
}

.modal-footer {
    justify-content: space-between;
}